djangorestframework
django-cors-headers
drf-yasg
django-environ
django-filter
djoser
djangorestframework-simplejwt
django-role-permissions
celery
django-celery-beat
django-extensions
sentry-sdk
django-redis
django-debug-toolbar
asgiref
pyjwt
pytz
sqlparse
psycopg2-binary
python-dotenv