.menu {
  &_container {
    width: 10%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
    align-items: center;
    height: var(--nav-height);
    background-color: var(--light-secondary-color);
    border-radius: 40px;
  }

  &_theme {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: transform 0.5s ease-in-out;
    

    &.spinBackForward {
      animation: backAndSpin 0.5s ease-in-out forwards;
    }
  }

  &_trigger {
    cursor: pointer;
    transition: all 0.2s ease;
    fill: var(--light-btn-primary-bg);
    &:hover {
      transform: scale(1.2);
      fill: var(--light-text-color)
    }
  }

  &_dropdown {
    position: absolute;
    top: 100px;
    right: 365px;
    background-color: var(--light-secondary-color);
    border-radius: 40px;
    width: 11%;
    height: 185px;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      right: 80px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid var(--light-secondary-color);
    }

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: all 0.4s ease;
    }

    &.inactive {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition: all 0.4s ease;
    }

    &_content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style: none;
        
      }

      li {
        width: 100%;
        display: flex;
        list-style: none;
        transition: all 0.2s ease;

        button {
          display: flex;
          flex-direction: row;
          gap: 15px;
          background-color: transparent;
          justify-content: center;
          align-items: center;
          border: none;
          cursor: pointer;
          width: 100%;
          color: var(--light-text-color);
          transition: all 0.2s ease;

          &:hover {
            background: var(--light-nav-active);
            color: var(--light-secondary-color);
          }

          .language_option {
            width: 120px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            height: 40px;
          }

          img {
            width: 26px;
            height: 26px;
          }
        }
      }
    }

  }
}


.ripple {
  position: fixed;
  border-radius: 50%;
  z-index: 4;
  pointer-events: none;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.4s ease;
}

.animate {
  animation: rippleExpand 0.6s ease-out forwards;
}

@keyframes rippleExpand {
  from {
    transform: scale(0);
  //   opacity: 0.5;
  }
  to {
    transform: scale(1);
    // opacity: 0;
  }
}


@keyframes backAndSpin {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(360deg);
  }
}